# my git ignore list
# rodrigogrohl@gmail.com
bootstrap/
/.idea
/*.iml
.vagrant
/registry
/registry-mirror
*.retry
*.deb
vault/starting-tutorial/vault-bk/
*.temp.*
*.out
.classpath
.settings/
.project
temp/
lib/
/.idea
/target
/.vagrant
/*.log
/client/node_modules
/client/bower_components
/client/*.log
/db
/.ivy2
/*.box
/*.iml
.ftpconfig.*
node_modules/
*.zip
*.rar
*.gz
*.jar
*.ear
*.war
*.class
*.pyc
jobs/
.gradle/
out/
m2deps/
